USE [master]
GO
/****** Object:  Database [NexPOS]    Script Date: 08/05/2026 11:31:02 pm ******/
CREATE DATABASE [NexPOS]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'NexPOS', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL17.SQLEXPRESS\MSSQL\DATA\NexPOS.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'NexPOS_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL17.SQLEXPRESS\MSSQL\DATA\NexPOS_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [NexPOS].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [NexPOS]
GO
/****** Object:  Table [dbo].[tbl_Categories]    Script Date: 08/05/2026 11:31:02 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_Categories](
	[CategoryID] [int] IDENTITY(1,1) NOT NULL,
	[CategoryName] [nvarchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[CategoryID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbl_Products]    Script Date: 08/05/2026 11:31:02 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_Products](
	[ProductID] [int] IDENTITY(1,1) NOT NULL,
	[ProductCode] [nvarchar](50) NOT NULL,
	[ProductName] [nvarchar](100) NOT NULL,
	[CategoryID] [int] NOT NULL,
	[UnitPrice] [decimal](10, 2) NOT NULL,
	[StockQuantity] [int] NOT NULL,
	[ExpirationDate] [date] NULL,
	[ReorderLevel] [int] NOT NULL,
	[Status] [nvarchar](20) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ProductID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbl_Transactions]    Script Date: 08/05/2026 11:31:02 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_Transactions](
	[TransactionID] [int] IDENTITY(1,1) NOT NULL,
	[TransactionDate] [datetime] NOT NULL,
	[CashierID] [int] NOT NULL,
	[TotalAmount] [decimal](10, 2) NOT NULL,
	[PaymentAmount] [decimal](10, 2) NOT NULL,
	[ChangeAmount] [decimal](10, 2) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[TransactionID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbl_Transactions_Items]    Script Date: 08/05/2026 11:31:02 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_Transactions_Items](
	[TransactionItemID] [int] IDENTITY(1,1) NOT NULL,
	[TransactionID] [int] NOT NULL,
	[ProductID] [int] NOT NULL,
	[Quantity] [int] NOT NULL,
	[UnitPrice] [decimal](10, 2) NOT NULL,
	[Subtotal] [decimal](10, 2) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[TransactionItemID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbl_Users]    Script Date: 08/05/2026 11:31:02 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_Users](
	[UserID] [int] IDENTITY(1,1) NOT NULL,
	[FullName] [nvarchar](100) NOT NULL,
	[Username] [nvarchar](50) NOT NULL,
	[Password] [nvarchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[UserID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[tbl_Categories] ON 

INSERT [dbo].[tbl_Categories] ([CategoryID], [CategoryName]) VALUES (1, N'Beverages')
INSERT [dbo].[tbl_Categories] ([CategoryID], [CategoryName]) VALUES (2, N'Snacks')
INSERT [dbo].[tbl_Categories] ([CategoryID], [CategoryName]) VALUES (3, N'Canned Goods')
SET IDENTITY_INSERT [dbo].[tbl_Categories] OFF
GO
SET IDENTITY_INSERT [dbo].[tbl_Products] ON 

INSERT [dbo].[tbl_Products] ([ProductID], [ProductCode], [ProductName], [CategoryID], [UnitPrice], [StockQuantity], [ExpirationDate], [ReorderLevel], [Status]) VALUES (7, N'P001', N'Coca-Cola 1.5L', 1, CAST(75.00 AS Decimal(10, 2)), 50, CAST(N'2026-12-31' AS Date), 10, N'Active')
INSERT [dbo].[tbl_Products] ([ProductID], [ProductCode], [ProductName], [CategoryID], [UnitPrice], [StockQuantity], [ExpirationDate], [ReorderLevel], [Status]) VALUES (8, N'P002', N'Piattos Cheese', 2, CAST(18.00 AS Decimal(10, 2)), 100, CAST(N'2026-10-15' AS Date), 20, N'Active')
INSERT [dbo].[tbl_Products] ([ProductID], [ProductCode], [ProductName], [CategoryID], [UnitPrice], [StockQuantity], [ExpirationDate], [ReorderLevel], [Status]) VALUES (9, N'P003', N'Lucky Me Pancit Canton', 4, CAST(16.00 AS Decimal(10, 2)), 120, CAST(N'2027-01-10' AS Date), 25, N'Active')
SET IDENTITY_INSERT [dbo].[tbl_Products] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__tbl_Prod__2F4E024F6CE6E072]    Script Date: 08/05/2026 11:31:03 pm ******/
ALTER TABLE [dbo].[tbl_Products] ADD UNIQUE NONCLUSTERED 
(
	[ProductCode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__tbl_User__536C85E4FB8BB0D6]    Script Date: 08/05/2026 11:31:03 pm ******/
ALTER TABLE [dbo].[tbl_Users] ADD UNIQUE NONCLUSTERED 
(
	[Username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[tbl_Products] ADD  DEFAULT ((5)) FOR [ReorderLevel]
GO
ALTER TABLE [dbo].[tbl_Products] ADD  DEFAULT ('Active') FOR [Status]
GO
ALTER TABLE [dbo].[tbl_Transactions] ADD  DEFAULT (getdate()) FOR [TransactionDate]
GO
ALTER TABLE [dbo].[tbl_Products]  WITH CHECK ADD  CONSTRAINT [FK_tbl_Products_tbl_Categories] FOREIGN KEY([CategoryID])
REFERENCES [dbo].[tbl_Categories] ([CategoryID])
GO
ALTER TABLE [dbo].[tbl_Products] CHECK CONSTRAINT [FK_tbl_Products_tbl_Categories]
GO
ALTER TABLE [dbo].[tbl_Transactions]  WITH CHECK ADD  CONSTRAINT [FK_tbl_Transactions_tbl_Users] FOREIGN KEY([CashierID])
REFERENCES [dbo].[tbl_Users] ([UserID])
GO
ALTER TABLE [dbo].[tbl_Transactions] CHECK CONSTRAINT [FK_tbl_Transactions_tbl_Users]
GO
ALTER TABLE [dbo].[tbl_Transactions_Items]  WITH CHECK ADD  CONSTRAINT [FK_tbl_Transactions_Items_tbl_Products] FOREIGN KEY([ProductID])
REFERENCES [dbo].[tbl_Products] ([ProductID])
GO
ALTER TABLE [dbo].[tbl_Transactions_Items] CHECK CONSTRAINT [FK_tbl_Transactions_Items_tbl_Products]
GO
ALTER TABLE [dbo].[tbl_Transactions_Items]  WITH CHECK ADD  CONSTRAINT [FK_tbl_Transactions_Items_tbl_Transactions] FOREIGN KEY([TransactionID])
REFERENCES [dbo].[tbl_Transactions] ([TransactionID])
GO
ALTER TABLE [dbo].[tbl_Transactions_Items] CHECK CONSTRAINT [FK_tbl_Transactions_Items_tbl_Transactions]
GO
USE [master]
GO
